html {
  height: 100%;

  font-family: "Roboto", sans-serif;
  color: var(--c_black_glaze);
}

body {
  min-width: 320px;
  height: 100%;
  background: linear-gradient(0deg, var(--c_larimar_green) 0%, var(--c_sidecar) 100%);
}

.root {
  height: 100%;
}

.global__mt--24 {
  margin-top: 24px;
}

.global__mb--24 {
  margin-bottom: 24px;
}
