:root {
  --c_black_glaze: #001219;
  --c_ocean_depths: #005F73;
  --c_peacock_feather: #0A9396;
  --c_larimar_green: #94D2BD;
  --c_sidecar: #E9D8A6;
  --c_wiener_schnitzel: #EE9B00;
  --c_curry_powder: #CA6702;
  --c_copper-hopper: #BB3E03;
  --c_tamed_beast: #9B2226;
  --c_greenish_teal: #39c280;
  --c_white: white;
  --с_black: black;
}